.thead {
    border-radius: 130px;
    width: 1008px;
    height: 54px;
    background: #F5F6FA;
}
.order-btn {
    color: white;
    background-color: #275A53;
    width: 114px;
    height: 37px;
    padding: 8px;
    border-radius: 5px;
}