.heading {
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 28px;
line-height: 42px;
/* identical to box height */

letter-spacing: 0.0015em;

color: #16322E;
}
.text {
    font-family: Poppins;
    font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 44px;
/* or 183% */

letter-spacing: 0.0015em;
}